.top-head-bar{
    height: 50px;
    display: flex;
    justify-content: space-around;
}
.logo{
    font-size: 40px;
    font-weight: 700;
    color: salmon;
    padding-left: 20px;
}
.search-bar input{
    width: 400px;
    height: 25px;
    border: 3px solid salmon;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
}
.icons{
    width: 120px;
    display: flex;
    justify-content: space-between;
}
.icons img{
    height: 100%;
}